server:
  servlet:
    context-path: /baseproject
  port: 2405

#redis
spring:
  redis:
    host: redis
    port: 6379
    database: 0
    password: mapple
    timeout: 0
    pool:
      max-idle: 100
      min-idle: 3

  #druid
  datasource:
    name: test
    url: jdbc:mysql://204.13.155.52:3306/baseproject?useSSL=false&useUnicode=true&characterEncoding=UTF-8
    username: root
    password: mapple
    # 使用druid数据源
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.jdbc.Driver
    filters: stat
    maxActive: 20
    initialSize: 1
    maxWait: 60000
    minIdle: 1
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    validationQuery: select 'x'
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    poolPreparedStatements: true
    maxOpenPreparedStatements: 20